# eclipse

bin

*.launch

.settings

.metadata

.classpath

.project



# idea

out

*.ipr

*.iws

*.iml

.idea



# gradle

build

.gradle



# other

eclipse

run



LICENSE-new.txt

*.bat

MinecraftForge-Credits.txt

forge-1.11-13.19.1.2188-changelog.txt

CREDITS-fml.txt

README.txt

Paulscode SoundSystem CodecIBXM License.txt

Paulscode IBXM Library License.txt

gradle.properties
