#foldiers
.gradle*/*
.settings*/*
bin*/*
build*/*
eclipse*/*
gradle*/*
run*/*

#files
*.bat
*.txt
.classpath
.project
.build.gradle
CREDITS-fml.txt
eclipse_Client.launch
eclipse_Server.launch
gradle.properties
gradlew
/bin/
